.App {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  gap: 24px 33px;
  grid-template-columns: repeat(3, 1fr);
  padding: 5%;
}
.img-profile {
  width: 150px;
}
.user-card {
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.action-btn {
  /* all: unset; */
  border: unset;
  width: 66px;
  height: 27px;
}
.delete {
  background-color: #dc497e;
}

.profile {
  background-color: #49b9dc;
}

.user-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #484848;
  text-align: left;
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  color: #484848;
}
